<div class="tin-module-selector tin-module-device" [class.tin-module-active]="activeIndex">
	<div class="tin-module tin-small-showcase">
		<div class="tin-small-header-wrapper">
			<div class="tin-small-header">
				<div class="tin-small-header-content tin-small-cta">
					<span>{{ 'Content.DeviceHeader' | translate }}</span>
				</div>
				<div class="tin-small-header-content tin-small-btn">
					<div class="cta-link-wrapper">
						<form class="cta-form" action="/signup/planform" method="GET" id="formstartDevice">
							<input type="hidden" name="action" value="startAction">
							<input type="hidden" name="locale" value="pt-BR">
							<button class="btn btn-large btn-red" type="submit" autocomplete="off" tabindex="0" role="link" placeholder="cta_link_device">
								{{ 'Content.Gratis' | translate }}
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="tin-small-content">
			<div class="tin-small-block">
				<div class="tin-small-block-img">
					<img class="tin-small-block-img-tag" src="https://assets.nflxext.com/ffe/siteui/acquisition/home/thisIsNetflix/modules/asset_TV_UI.png">
				</div>
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DeviceHeadline' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead' | translate }}</span>
				</div>
			</div>
			<div class="tin-small-block">
				<div class="tin-small-block-img">
					<img class="tin-small-block-img-tag" src="https://assets.nflxext.com/ffe/siteui/acquisition/home/thisIsNetflix/modules/asset_mobile_tablet_UI_2.png">
				</div>
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DeviceHeadline2' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead2' | translate }}</span>
				</div>
			</div>
			<div class="tin-small-block">
				<div class="tin-small-block-img">
					<img class="tin-small-block-img-tag" src="https://assets.nflxext.com/ffe/siteui/acquisition/home/thisIsNetflix/modules/asset_website_UI.png">
				</div>
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DevicHeadline3' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead3' | translate }}</span>
				</div>
			</div>
		</div>
		<div class="tin-small-content">
			<div class="tin-small-desc">
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DeviceHeadline' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead' | translate }}</span>
				</div>
			</div>
			<div class="tin-small-desc">
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DevicHeadline2' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead2' | translate }}</span>
				</div>
			</div>
			<div class="tin-small-desc">
				<div class="tin-small-desc-text">
					<h3 class="tin-small-desc-headline">{{ 'Content.DevicHeadline3' | translate }}</h3>
					<span class="tin-small-desc-subhead">{{ 'Content.DeviceSubhead3' | translate }}</span>
				</div>
			</div>
		</div>
	</div>
</div>