<div class="concord concord-with-tin concord-with-title is-former-member">
	<div class="wrap">
		<div class="bg" id="main-creative">
			<div class="creative-wrapper">
				<div class="image active">
					<div class="concord-img-wrapper">
						<img class="concord-img vlv-creative" src="/assets/BR-pt-20180625-popsignuptwoweeks-perspective_alpha_website_small.jpg" srcset="assets/BR-pt-20180625-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, /assets/BR-pt-20180625-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, assets/BR-pt-20180625-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w" alt="">
						<div class="concord-img-gradient"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="cta-wrapper">
			<div class="cta-text">
				<h1 class="cta-pitch">
					{{ 'Content.Pitch' | translate }}				
				</h1>
				<p class="cta-pricing">
					{{ 'Content.Assista' | translate }}
				</p>
			</div>
			<div></div>
			<div class="cta-link-wrapper">
				<form class="cta-form" action="/signup/planform" method="GET" id="formstart">
					<input type="hidden" name="action" value="startAction">
					<input type="hidden" name="locale" value="pt-BR">
					<button class="btn hero-cta-btn btn-large btn-red" type="submit" autocomplete="off" tabindex="0" role="link" placeholder="cta_link_startSignup">
						<span class="hero-cta-btn-txt">{{ 'Content.Gratis' | translate }}</span>
						<span class="chevron-right-arrow"></span>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>